.app{
  background: rgb(118,216,255);
background: linear-gradient(153deg, rgba(118,216,255,1) 4%, rgba(24,158,210,1) 36%, rgba(8,108,147,1) 64%, rgba(1,72,99,1) 84%);
  height: 100vh;
}

.title{
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
  padding: 3vh;
  color: #FFFFFF;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

@media (max-width: 700px), handheld and (orientation: landscape) {
  .title{
    font-size: 4vh;
  }
}