.grid{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  height: 75vh;
  margin-top: 2vh;
}

.score{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 700px), handheld and (orientation: landscape) {
  .grid{
    display: flex;
  }
  .grid__container{
    width: 95vw;
    height: 70vh;
  }
}