.cards-container{
  display: flex;
  font-size:larger;
  margin-top: 2%;
  height: 75vh;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cards-container{
    font-size:small;
    margin-top: 15%;
    height: 55vh;
    width: 85vw;
  }
}