.cards-container{
  display: flex;
  font-size:larger;
  margin-top: 2%;
  height: 80vh;
  width: 45vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cards-container{
    font-size:small;
    margin-top: 6%;
    width: 80vw;
  }
}